<!DOCTYPE html>
<head></head>
<body>
<h1>Author Detail</h1>
<table>
    <tr><td>Name:</td><td>{{ selected_author.salutation }} {{ selected_author.name }}</td></tr>
    <tr><td>Email:</td><td>{{ selected_author.email }}</td></tr>
</table>
{% if book_list %}
    <h3>Books Published</h3>
    <ul>
    {% for book in book_list %}
        <li><a href="{% url 'cbv:book_detail' book.id %}">{{ book.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Books Published!</p>
{% endif %}
<p><a href="{% url 'cbv:author_list' %}">Author List</a></p>
</body>