{% extends "base_two_columns.html" %}
{% load humanize %}

{% block sidebar %}
{{ block.super }}
Inheritance
{% endblock %}
{% block content %}
{% if latest_question_list %}
    <table>
    {% for question in latest_question_list %}
    <tr class="{% cycle 'row1' 'row2' as rowcolours %}">
        <td>>>> </td>            
        <td>
        <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        <//td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<p>{{ 45000|intcomma }}</p>
<p>It is {% now "jS F Y H:i:s" %}</p>
{% widthratio 320 200 100 %}
</p>{{ 1|add:2 }}
</p>{{ 20|divisibleby:3 }}
</p>{{ 2|divisibleby:2 }}
</br>{{ "This is a test"|slugify }}
</br>{{ "This is a test"|truncatechars:10 }}
{% endblock %}
